 <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h1 class="centered">Solicitud de adopción</h1>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-8">
	 			<h4>Ingresa tus datos</h4>
	 			<div class="hline"></div>
		 			<p>Completa la solicitud y nosotros te contactaremos</p>
		 			<form role="form">
		 			<div class="col-md-6">
		 				<div class="form-group">
					    <label for="InputName1">Nombre</label>
					    <input type="email" class="form-control" id="exampleInputEmail1">
					  </div>
		 			</div>
					  <div class="col-md-6">
						  	<div class="form-group">
						    <label for="InputEmail1">Email</label>
						    <input type="email" class="form-control" id="exampleInputEmail1">
						  	</div>
					  </div>
					  <div class="col-md-6">
						  	<div class="form-group">
						    <label for="InputSubject1">Teléfono</label>
						    <input type="email" class="form-control" id="exampleInputEmail1">
						  </div>
					  </div>
					  
					  <div class="col-md-6">
						  	<div class="form-group">
						    <label for="InputSubject1">Celular</label>
						    <input type="email" class="form-control" id="exampleInputEmail1">
						  </div>
					  </div>
					  <div class="col-md-12">
						  	<div class="form-group">
						    <label for="InputSubject1">Dirección</label>
						    <input type="email" class="form-control" id="exampleInputEmail1">
						  </div>
					  </div>
					  <div class="col-md-12">
					  	<ng-map center="[40.74, -74.18]">
		 					<marker position="[40.74, -74.18]"></marker>
		 				</ng-map>	
					  </div>
					  <div class="col-md-8 col-md-offset-2">
					  	<button type="submit" class="btn btn-theme btn-block">Enviar solicitud</button>
					  </div>
					  
					</form>
			</div><!--/col-lg-8 -->
	 		
	 		<div class="col-lg-4 card-adoption">
		 		<h4 class="name-card-adoption">Pánfilo</h4>
		 		<div class="hline-card-adoption"></div>
		 			<p>
		 				<img class="img-responsive" src="images/perfil1.jpeg">
		 			</p>
		 			<div class="spacing"></div>
			 		<p><i class="fa fa-paw"></i> Pastor alemán</p>
			 		<p><i class="fa fa-clock-o"></i> 2 años 6 meses</p>
			 		<p><i class="fa fa-map-marker"></i> Puebla, Puebla</p>
			 		<p><i class="fa fa-mars"></i> Macho</p>
			 		<p><i class="fa fa-info-circle"></i> Juguetón</p>

		 		
		            
		 		<div class="spacing"></div>
	 		</div>
	 	</div><!--/row -->
	 </div><!--/container -->
