<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h1 class="centered">Donativos</h1>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	 	<div class="row">
		 	<div class="col-lg-5 col-lg-offset-1">
			 	<div class="spacing"></div>
		 		<h4>Sé parte del cambio</h4>
		 		<p>Puedes ayudar a los Callejeritos donando croquetas, latas de alimento para perros, platos, camas, suéteres, juguetes, casas, artículos de limpieza o haciendo un donativo monetario a través de PayPal. </p>
		 		<img class="img-responsive paypal-button" src="/images/paypal.jpg" alt="">
		 	</div>
		 	
		 	<div class="col-lg-5 col-lg-offset-1">
			 	<div class="spacing"></div>
		 		<h4>Formas de ayudar</h4>
		 		<div class="hline"></div>
		 		<p><i class="fa fa-check" aria-hidden="true"></i> Adopta no compres</p>
		 		<p><i class="fa fa-check" aria-hidden="true"></i> Esteriliza</p>
		 		<p><i class="fa fa-check" aria-hidden="true"></i> Apadrina un callejerito</p>
		 		<p><i class="fa fa-check" aria-hidden="true"></i> Ofrece hogar temporal</p>
		 		<p><i class="fa fa-check" aria-hidden="true"></i> Dona (en especie o dinero)</p>
		 		<p><i class="fa fa-check" aria-hidden="true"></i> No seas indiferente ante el maltrato y sufrimiento animal</p>
		 		<p><i class="fa fa-check" aria-hidden="true"></i> Cuida y protege</p>
		 	</div>
		 	
	 	</div><!--/row -->
	 </div><!--/container -->
	 
	