	<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-4 col-lg-offset-4 login">
	 			<h3 class="centered title-form">Inicia sesión</h3>
	 			
		 			
		 			<form role="form" ng-submit="Login(user)">
					  <div class="form-group">
					    <label for="InputName1">Email</label>
					    <input type="text" class="form-control" ng-model="user.username" id="exampleInputEmail1">
					  </div>
					  <div class="form-group">
					    <label for="InputEmail1">Password</label>
					    <input type="password" class="form-control" ng-model="user.password" id="exampleInputEmail1">
					  </div>
					  <button type="submit" class="btn btn-theme btn-block">Entrar</button>
					  <p class="bg-danger centered" ng-if="error_login">{{error_login}}</p>
					</form>
			</div><!--/col-lg-8 -->
	 		
	 		
	 	</div><!--/row -->
	 </div><!--/container -->