<!-- *****************************************************************************************************************
   HEADERWRAP
   ***************************************************************************************************************** -->

  <div id="headerwrap" backstretch backstretch-images="images">
  <div id="backstretch-overlay"></div>
      <div class="container home-slider">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <!--  <h3>En México el 70% de los perros que viven en la calle sufrieron de abandono.</h3> -->
          <h1>En México el 70% de los perros que viven en la calle sufrieron de abandono.</h1>
          <h3>Callejeritos es una plataforma que busca lograr un cambio y ofrecer a los perros de la calle un hogar digno para disfrutar de una vida plena.</h5>
          <h5>Te invitamos a que conozcas a los perros que forman parte de esta historia.</h5>     
        </div>
        <!-- <div class="col-lg-8 col-lg-offset-2 himg">
          <img src="images/browser.png" class="img-responsive">
        </div> -->
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /headerwrap -->
  <!-- *****************************************************************************************************************
   TEEAM MEMBERS
   ***************************************************************************************************************** -->

   <div class="container mtb">
    <div class="row centered">
      <h3 class="mb">Adopta un callejerito</h3>
      
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
        <img src="images/perfil1.jpeg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
                            <a href="/#!/perfil" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-paw"></i><br>Conóceme</a>
                            
                      </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
        <h4>Nombre</h4>
        
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="hline"></div>
      </div><!--/col-lg-3 -->

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
        <img src="images/perfil1.jpeg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
                            <a href="/#!/perfil" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-paw"></i><br>Conóceme</a>
                            
                      </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
        <h4>Nombre</h4>
        
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="hline"></div>
      </div><!--/col-lg-3 -->

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
        <img src="images/perfil1.jpeg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
                            <a href="/#!/perfil" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-paw"></i><br>Conóceme</a>
                            
                      </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
        <h4>Nombre</h4>
        
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="hline"></div>
      </div><!--/col-lg-3 -->

     <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
        <img src="images/perfil1.jpeg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
                            <a href="/#!/perfil" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-paw"></i><br>Conóceme</a>
                            
                      </div><!-- he bg -->
          </div><!-- he view -->    
        </div><!-- he wrap -->
        <h4>Nombre</h4>
        
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="hline"></div>
      </div><!--/col-lg-3 -->     
      
    </div><!--/row -->
   </div><!--/container -->
  
   
  
   
  <!-- *****************************************************************************************************************
   TESTIMONIALS
   ***************************************************************************************************************** -->
   <div id="twrap">
    <div class="container centered">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <i class="fa fa-paw"></i>
        <p>En Callejeritos tenemos como principal objetivo cambiar el destino de todos los perros que han sufrido maltrato y abandono principalmente. Con la ayuda de un trabajo constante por parte de voluntarios independientes y organizaciones podamos crear un vínculo entre un callejerito y un posible adoptante que le de amor, respeto y protección convirtiéndolo en un miembro más de la familia.</p>
        <a class="btn btn-primary donativos btn-lg" href="/#!/donativos"> Donativos</a>
        </div>
      </div><!--/row -->
    </div><!--/container -->
   </div><!--/twrap -->
   <div class="container mtb2">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h4>Declaración Universal de los Derechos de los Animales</h4>
            <p>Considerando que todo Animal posee derechos. <br>
                Considerando que el desconocimiento y desprecio de dichos derechos han conducido y siguen conduciendo al hombre a cometer crímenes contra la naturaleza y contra los Animales. <br>
                Considerando que el reconocimiento por parte de la especie humana de los derechos de la existencia de las otras especies de Animales constituye el fundamento de la coexistencia de las especies en el mundo. <br>
                Considerando que la educación debe enseñar, desde la infancia, a observar, comprender, respetar y amar a los Animales. 
            </p>
        <p><br/><a href="http://www2.me.gov.ar/efeme/diaanimal/derecho.html" class="btn btn-theme">Más información</a></p>
      </div>      
    </div><!--/row -->
   </div><!--/container -->
  <!-- *****************************************************************************************************************
   OUR CLIENTS
   ***************************************************************************************************************** -->
  <!--  <div id="cwrap">
     <div class="container">
      <div class="row centered">
        <h3>ASOCIACIONES</h3>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src="images/clients/client01.png" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src="images/clients/client02.png" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src="images/clients/client03.png" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src="images/clients/client04.png" class="img-responsive">
        </div> -->
      <!-- </div> --><!--/row -->
    <!--  </div> --><!--/container -->
   <!-- </div> --><!--/cwrap -->
