<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h1 class="centered">Hola, soy Pánfilo :)</h1>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	 
	<!-- *****************************************************************************************************************
	 BLOG CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 	
	 		<!-- SINGLE POST -->
	 		<div class="col-lg-8">
	 			<!-- Blog Post 1 -->
		 		<p><img class="img-responsive" src="images/perfil1.jpeg"></p>
		 		<a href="single-post.html"><h3 class="ctitle">Acerca de mi</h3></a>
		 		<p><b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		 		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		 		<p>Contrary to popular belief, <b>Lorem Ipsum is not simply random text</b>. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at <a href="#">Hampden-Sydney College</a> in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
		 		<p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		 		<h4>Why do we use it?</h4>
		 		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
		 		<blockquote>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</blockquote>
		 		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
		 		<div class="spacing"></div>
		 		
			</div><!--/col-lg-8 -->
	 		
	 		
	 		<!-- SIDEBAR -->
	 		<div class="col-lg-4">
	 			<a class="btn btn-theme btn-lg btn-block" href="/#!/adopta">Adopta</a>
	 			<!-- <a class="btn btn-primary btn-lg btn-block btn-outline" href="#">Apadrina</a> -->
		 		<div class="spacing"></div>
		 		<div class="spacing"></div>
		 		<h6>Comparte:</h6>
		 		<div class="hline"></div>
		 		<p class="share centered">
		 			<a href="#"><i class="fa fa-twitter"></i></a>
		 			<a href="#"><i class="fa fa-facebook"></i></a>		 		
		 		</p>
		 		<div class="spacing"></div>
		 		<h4>Mi información</h4>
		 		<div class="hline"></div>
			 		<p><i class="fa fa-paw"></i> Pastor alemán</p>
			 		<p><i class="fa fa-clock-o"></i> 2 años 6 meses</p>
			 		<p><i class="fa fa-map-marker"></i> Puebla, Puebla</p>
			 		<p><i class="fa fa-mars"></i> Macho</p>
			 		<p><i class="fa fa-info-circle"></i> Juguetón</p>

		 		
		            
		 		<div class="spacing"></div>
		 		
		 		<h4>¿Dónde estoy?</h4>
		 		<div class="hline"></div>
		 			<p>
		 				<ng-map center="[40.74, -74.18]">
		 					<marker position="[40.74, -74.18]"></marker>
		 				</ng-map>		            	
		 			</p>

		 		<div class="spacing"></div>
		 		
		 		<h4>Mi rescatista</h4>
		 		<div class="hline"></div>
		 			<ul class="popular-posts">
		                <li>
		                    <a href="#"><img class="img-circle img-responsive" src="/images/rescatista.jpg" alt="Rescatista"></a>
		                    <p><a href="#">Sergio Ramos</a></p>
		                    <em>Independiente</em>
		                </li>
		                
		            </ul>
	 		</div>
	 	</div><!--/row -->
	 </div><!--/container -->
